<!-- Container (About Jumbotron) -->
<%= stylesheet_link_tag 'prs' %>
<div class="container prs">
    <div class="jumbotron text-center" style="background-image: url(<%= asset_path('jumbotron.png') %>)">
        <h1>PUBLIC RELATION</h1> 
    </div>
</div>

<div id="notice"><%= notice %></div>