<footer class="container">
    <div class="col-sm-12">
        <ul class="caramella-info">
            <li>
                <a href="/">
                    <span>Caramella Inc. (주)카라멜라</span>
                </a>
            </li>
            <li>
                <span>광주 광역시 동구 서남로 14, 4층 405호</span>
            </li>
            <li> 
                <span>1811. 9753</span>
            </li>
            <li>
                <span> pm @ caramella.kr</span>
            </li>
        </ul>
    </div>
    <div class="col-sm-12">
        <ul class="use-of-term">
            <li><span>Copyright © 2020 CARAMELLA All rights reserved</span></li>
        </ul> 
    </div>
</footer>