<footer class="container-fluid">
    <h2>CARAMELLA</h2>
    <div class="row">
        <div class="col-sm-12">
            <p><span class="glyphicon glyphicon-map-marker"></span> 광주 광역시 동구 서남로 14, 4층 405호 <span class="glyphicon glyphicon-phone"></span> +82 1811-9753</p>
            <p><span class="glyphicon glyphicon-envelope"></span> pm@caramella.kr</p>
            <p><span>Copyright © 2020 CARAMELLA All rights reserved</span></p>
            <ul class="text-right">
                <li><a>이용약관</a></li>
                <li><a>개인정보보호정책</a></li>
            </ul> 
        </div>
    </div>
</footer>