// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import 'bootstrap-sprockets';
@import 'font-awesome';
@import 'bootstrap';
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Lato);

body {
    font: 400 15px Lato, Montserrat;
    line-height: 1.8;
    color: #818181;
    background-color: #fff;
    position: relative; }

.btn-default { background-color: unset; }

ul, li {
    list-style: none;
    padding: 0; }

i { font-style: unset; }

i, a, a:hover, a:focus, a:active {
    color: #818181;
    text-decoration: none; }

/* Navigation Bar */
.navbar {
    background-color: rgb(255, 255, 255);
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif; }

.navbar .container { padding: 0 15px; }

.navbar .container .navbar-header .text-center { padding-left: 0; }

.navbar li a { 
    color: #666 !important; 
    font-weight: bold; }

.navbar .navbar-brand {
    font-size: 30px;
    color: #000 !important;
    font-weight: bold; 
    font-family: Montserrat; }

.navbar-brand-header { float: unset; }

.navbar-nav li a:hover, 
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #2E2E2E !important; }

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important; 
    z-index: 9999; 
    margin-right: 0; }

.navbar-default .navbar-toggle .icon-bar { background-color: #666 }

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:active .icon-bar {
    background-color: #fff; }

.intro,
.about, 
.portfolio, 
.contact, 
.prs,
.contact_success {
    margin-top: 115px;
    padding-left: 0;
    padding-right: 0; }

.jumbotron {
    background-size: cover;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
    border-radius: 0 !important; }

.jumbotron a { color: #fff; }

h2 {
    font-size: 24px;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px; }

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px; }

.container-fluid { padding: 60px 50px; }

.bg-grey { background-color: #f6f6f6; }

.logo-small {
    color: #5e7b98;
    font-size: 50px; }

.logo {
    color: #5e7b98;
    font-size: 200px; }

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0; }

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px; }

.slideanim {visibility:hidden;}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible; }

/* Footer */
footer {
    margin-top: 50px;
    padding-bottom: 20px;
    text-align: center; 

    div ul {
        li:first-child { padding-left: 0; }
        
        li:last-child {
            border-right: 0;
            padding-right: 0; }

        li {
            display: inline-block;
            padding-right: 5px;
            line-height: 15px;

            a, a:hover { color: #818181; }

            a span {
                font-size: 15px;
                font-weight: bold;
                font-family: 'Nanum Gothic'; }
        }
    }

    .use-of-term {
        li {
            a, a:hover { font-size: 13px; }
        }
    }
}

/* Animations */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%); }

    100% {
        opacity: 1;
        transform: translateY(0%); }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%); }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%); }
}

/* Media Query Custom */
@media screen and (max-width: 960px) {
    /* Navbigation Bar */
    .navbar { padding-top: 0; }

    .navbar-brand-header {
        padding-left: 0;

        .navbar-toggle {
            float: left;
            margin-left: 5px; }

        .navbar-toggle:hover,
        .navbar-toggle:active,
        .navbar-toggle:focus {
            background-color: unset;

            .icon-bar { background-color: #666; }
        }
    }

    .navbar .navbar-brand {
        font-size: 18px;
        margin-top: unset;
        color: #000 !important;
        font-weight: unset; }

    .about, .portfolio, .contact, .prs, .contact_success { margin-top: 100px; }
}

@media screen and (max-width: 768px) {
    .navbar-default .navbar-toggle { margin-right: 4.5%; }

    .navbar-default,
    .navbar-toggle, 
    .icon-bar { color: #666 !important; }

    .navbar-header div { text-align: center; }

    .navbar .container .navbar-header .col-sm-12 { 
        right: 0;
        left: 0;
        position: absolute;
        width: 100%; }
    
    .navbar-brand {
        float: unset;
        line-height: 53px; }

    .nav-ver { display: none; }

    .about, .portfolio, .contact, .prs, .contact_success { margin-top: 55px; }

    .col-sm-4 {
        text-align: center;
        margin: 25px 0; }

    .btn-lg {
        width: 100%;
        margin-bottom: 35px;}
}

@media screen and (min-width: 768px) {
    .navbar-right { margin-right: 0; }
}

@media screen and (max-width: 585px) {
    .navbar { background-color: rgba(255, 255, 255, 0.7); }

    /* Footer */
    footer {
        div {
            .use-of-term {
                li:first-child { display: block; }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .logo { font-size: 150px; }
}